.container{
	background-color: #999;
	height: 500px;
	display: flex;
	
	flex-direction: row;/*dereção do conteudo, alinhamento*/
	/*row-reverse | column | column-reverse*/
	
	flex-wrap: wrap;/*define se os itens vai ter quebra de linha*/
	/*nowrap | wrap-reverse*/
	
	flex-flow: row wrap;
	
	justify-content: flex-start;/*alinhamento horizontal*/
	/*flex-end | center | space-between | space-around*/
	
	align-items: stretch;/*alinhamento vertical*/
	/*flex-start | flex-end | center | baseline*/
	
	align-content: stretch;/*alinhamento vertical, quando os itens estiverem com quebra de linha*/
	/*flex-start | flex-end | center | space-between | space-around*/
}
.item{
	width: 100px;
	background-color: #fff;
	margin: 5px;
	padding: 20px;
	
	/*flex-grow: 1;/*tamanho do elemento maior
	flex-shrink: 1;/*reduz o damanho
	flex-basis: 30px;*/
	
	flex: 1 1 20px;
}
.artigo1{
	flex-grow: 2;
}
/*.artigo1{order:3;}
.artigo2{order:1;}
.artigo3{order:2;}*/
