/*RESET*/
*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Open Sans', sans-serif;}
ul{list-style: none;}
a{text-decoration: none; cursor: pointer; opacity:0.9;}
a:hover{opacity:1;}

/*MENU*/
.menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 50px;
}
.menu img{
	width: 200px;
}
.menu nav ul{
	display: flex;
}
.menu a{
	color: #191c03;
}
.menu a:hover{
	text-decoration: underline;
}
.menu ul li{
	margin: 0 15px;
}
.menu li:first-child{/*seleciona so primeiro*/
	margin-left: 0;
}
.menu li:last-child{
	margin-right: 0;
}

/*HERO*/
.hero{
	background-image: url(../imagens/hero.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}
.hero h1{
	font-family: 'Oswald', sans-serif;
	font-size: 3.2rem;
	font-weight: 400;
	margin-bottom: 20px;
	margin-top: 100px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}
.hero h3{
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	font-weight: 300;
	margin-bottom: 30px;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.hero .botao{
	background-color: #fff;
	color: #191c03;
	padding: 10px 25px;
	text-transform: uppercase;
}
.hero .botao:hover{
	text-decoration: underline;
}

/*SOBRE*/
.sobre-hotel{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}
.sobre-hotel h3{
	font-size: 2rem;
	margin-bottom: 35px;
	color: #191c03;
}
.sobre-hotel p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	color: #191c03;
}
.sobre-hotel hr{
	width: 200px;
	height: 1px;
	background-color: #191c03;
	border: none;
	margin-bottom: 60px;
}
.album-img{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.album-img li{
	height: 350px;
	padding: 20px;
	border-radius: 5px;
	background-clip: content-box;
	background-position: center;
	background-size: cover;
}
.album-img .small{
	flex-basis: 40%;
}
.album-img .large{
	flex-basis: 60%;
}
/*CARACTERISTICAS*/
.caracteristicas{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
	background-color: #191c03;
}
.caracteristicas h3{
	color: #fff;
	font-size: 2rem;
	margin-bottom: 35px;
	text-align: center;
}
.caracteristicas p{
	color: #fff;
	max-width: 800px;
	margin-bottom: 35px;
	text-align: center;
}
.caracteristicas hr{
	background-color: #fff;
	width: 200px;
	height: 1px;
	border: none;
	margin-bottom: 60px;
}
.caracteristicas .grid{
	width: 100%;
	display: flex;	
}
.caracteristicas .grid li{
	padding: 0 30px;
	text-align: center;
}
.caracteristicas .grid li i{
	color: #c3c63b;
	margin-bottom: 30px;
}
.caracteristicas .grid li h4{
	font-size: 1.5rem;
	color: #c3c63b;
	margin-bottom: 30px;
}
.caracteristicas .grid li p{
	color: #fff;
}
/*NEWSLETTER*/
.newsletter{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 50px;
}
.newsletter h3{
	color: #c3c63b;
	font-size: 2rem;
	margin-bottom: 35px;
	text-align: center;
}
.newsletter p{
	color: #c3c63b;
	margin-bottom: 35px;
	text-align: center;
	max-width: 800px;
}
.newsletter hr{
	width: 200px;
	height: 1px;
	background-color: #c3c63b;
	margin-bottom: 60px;
	border: none;
}
.newsletter form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 80%;
	max-width: 800px;
	
}
.newsletter input{
	flex: 1;
    padding: 15px;
	margin-right: 15px;
	border: 1px solid #c3c63b;
    border-radius: 4px;
    border-color: #c3c63b;
}
.newsletter .botao{
	background-color: #c3c63b;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
	cursor: pointer;
	border: none;
	opacity: .9;
}
.newsletter .botao:hover{
	opacity: 1;
}



/*mobile*/
@media(max-width: 700px){
	.menu{
		flex-direction: column;
	}
	.menu img{
		margin-bottom: 10px;
	}
	.hero h1{
		font-size: 2.5rem;
	}
	.hero h3{
		font-size: 1.5rem;
	}
	.album-img .small, .album-img .large{
		flex-basis: 100%;
	}
	.newsletter input{
		flex-basis: 100%;
		margin-bottom: 15px;
	}
	.newsletter .botao{
		text-align: center;
	}
}

@media(max-width: 850px){
	.caracteristicas .grid{
		flex-direction: column;
	}
}
